<?xml version="1.0"?>
<config>
    <modules>
        <Devopensource_Sendpulse>
            <version>0.1.0</version>
        </Devopensource_Sendpulse>
    </modules>
    <global>
        <models>
            <sendpulse>
                <class>Devopensource_Sendpulse_Model</class>
                <resourceModel>sendpulse_resource</resourceModel>
            </sendpulse>
            <sendpulse_resource>
                <class>Devopensource_Sendpulse_Model_Resource</class>
            </sendpulse_resource>
        </models>
        <blocks>
            <sendpulse>
                <class>Devopensource_Sendpulse_Block</class>
            </sendpulse>
        </blocks>
        <helpers>
            <sendpulse>
                <class>Devopensource_Sendpulse_Helper</class>
            </sendpulse>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <sendpulse>
                    <file>sendpulse.xml</file>
                </sendpulse>
            </updates>
        </layout>
        <routers>
            <sendpulse>
                <use>standard</use>
                <args>
                    <module>Devopensource_Sendpulse</module>
                    <frontName>sendpulse</frontName>
                </args>
            </sendpulse>
        </routers>
    </frontend>
</config>